#Cada persona que utilice este repositorio debera crear su propio archivo .env para poder utilizar este bot
#Este es un ejemplo de el archivo .env que se debera crear, unicamente se debe cambiar GITHUB_TOKEN y LANGSMITH_API_KEY

# Configuracion de GitHub Models
GITHUB_TOKEN="tu_token_de_github_va_aqui"
GITHUB_BASE_URL="https://models.inference.ai.azure.com"

# LangSmith  
LANGSMITH_TRACING="true"
LANGSMITH_API_KEY="tu_api_key_de_langsmith_va_aqui"
LANGSMITH_PROJECT="steam_support_bot"